all.hpp
#ifndef CUCUMBER_MESSAGES_ALL_HPP
#define CUCUMBER_MESSAGES_ALL_HPP

<%- @schemas.sort_by { |key, _| class_name(key) }.each do |key, _schema| -%>
<%-
    myclass = underscore(class_name(key))
-%>
#include <cucumber/messages/<%= myclass %>.hpp>
<%- end -%>

#endif
<%- @schemas.each do |key, schema| -%>
<%-
    myclass = underscore(class_name(key))
%>
<%= myclass -%>.hpp
#ifndef CUCUMBER_MESSAGES_<%= myclass.upcase %>_HPP
#define CUCUMBER_MESSAGES_<%= myclass.upcase %>_HPP

<%-
    incs = []
    schema['properties'].sort_by { |key, _| class_name(key) }.each do |property_name, property|
        type = underscore(type_for(class_name(key), property_name, property))
        if m = /std::vector<(?<vtype>.+)>/.match(type)
            type = m['vtype']
        end
        next if type.start_with?("std::")
        next if type == "bool"
        incs.append(type)
    end

    if incs.length.positive?
-%>
    <%- incs.uniq.each do |type| -%>
    <%- next if type == myclass -%>
#include "cucumber/messages/<%= type %>.hpp"
    <%- end -%>
<%- end -%>
#include "nlohmann/json_fwd.hpp"
#include <memory>
<%-
    optionals = 0
    schema['properties'].each do |property_name, _property|
        prequired = (schema['required'] || []).index(property_name)
        optionals += prequired ? 0 : 1
    end

    if optionals
-%>
#include <optional>
<%- end -%>
#include <ostream>
#include <string>
<%-
    vectors = schema['properties'].any? do |property_name, property|
        type = type_for(class_name(key), property_name, property)
        /std::vector</.match?(type)
    end

    if vectors
-%>
#include <vector>
<%- end -%>

namespace cucumber::messages
{
    //
    // Represents the <%= class_name(key) %> message in Cucumber's message protocol
    // @see <a href=https://github.com/cucumber/messages>Github - Cucumber - Messages</a>
    <%- unless (schema['description'] || []).empty? -%>
    //
    <%= format_description(schema['description'], indent_string: '    ') %>
    <%- end -%>
    //
    // Generated code

    struct <%= myclass %>
    {
        <%-
        schema['properties'].each do |property_name, property|
            type = underscore(type_for(class_name(key), property_name, property))
            ptype = type
            pname = underscore(property_name)
            prequired = (schema['required'] || []).index(property_name)
            if m = /std::vector<(?<vtype>.+)>/.match(type)
                unless m['vtype'].start_with?("std::")
                    vtype_is_enum = @enums.any? { |e| underscore(e[:name]) == m['vtype'] }
                    inner = "cucumber::messages::" + m['vtype']
                    ptype = "std::vector<" + inner + ">"
                end
            elsif !type.start_with?("std::") && type != "bool"
                is_enum = @enums.any? { |e| underscore(e[:name]) == type }
                ptype = "cucumber::messages::" + type
            end
            unless prequired
                ptype = "std::optional<" + ptype + ">"
            end
        -%>
        <%= ptype %> <%= pname %>;
        <%- end -%>

        [[nodiscard]] std::string to_string() const;

        void to_json(nlohmann::json& json) const;
        void from_json(const nlohmann::json& json);

        [[nodiscard]] std::string to_json() const;
    };

    std::ostream& operator<<(std::ostream& ostream, const <%= myclass %>& msg);

    void to_json(nlohmann::json& json, const <%= myclass %>& msg);
    void from_json(const nlohmann::json& json, <%= myclass %>& msg);
}

#endif
<%= myclass %>.cpp

#include "cucumber/messages/<%= myclass %>.hpp"
#include "cucumber/messages/utils.hpp"
#include "nlohmann/json.hpp"
#include <ostream>
#include <sstream>
#include <string>

// Generated code

namespace cucumber::messages
{
    std::string <%= myclass %>::to_string() const
    {
        std::ostringstream oss;

        <%-
        schema['properties'].each_with_index do |(property_name, _property), index|
            pname = underscore(property_name)
            prefix = '"' + (index == 0 ? '' : ', ') + pname + '="'
        -%>
        cucumber::messages::to_string(oss, <%= prefix %>, <%= pname %>);
        <%- end -%>

        return oss.str();
    }

    void <%= myclass %>::to_json(nlohmann::json& json) const
    {
        <%-
        schema['properties'].each do |(property_name, _property)|
            pname = underscore(property_name)
        -%>
        cucumber::messages::to_json(json, camelize("<%= pname %>"), <%= pname %>);
        <%- end -%>
    }

    void <%= myclass %>::from_json(const nlohmann::json& json)
    {
        <%-
        schema['properties'].each do |(property_name, _property)|
            pname = underscore(property_name)
        -%>
        cucumber::messages::from_json(json, camelize("<%= pname %>"), <%= pname %>);
        <%- end -%>
    }

    std::string <%= myclass %>::to_json() const
    {
        nlohmann::json json;

        to_json(json);

        return json.dump();
    }

    std::ostream& operator<<(std::ostream& ostream, const <%= myclass %>& msg)
    {
        ostream << msg.to_string();

        return ostream;
    }

    void to_json(nlohmann::json& json, const <%= myclass %>& msg)
    {
        msg.to_json(json);
    }

    void from_json(const nlohmann::json& json, <%= myclass %>& msg)
    {
        msg.from_json(json);
    }
}<%- end -%>
